@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Style agar body menggunakan Inter */
body {
    font-family: 'Inter', sans-serif;
}